:root {
  --first-clr: #9c667d;
  --second-clr: #e8cc9c;
  --third-clr: #e3e3d4;

  --bg-clr: #ce938b;
  --active-clr: #3b5274;
  --text-clr: #141414;
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  border: 1px solid var(--active-clr);
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: var(--text-clr);
}
input::placeholder {
  color: var(--active-clr);
}

button,
input {
  font-size: 1rem;
}

button {
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-clr);
  display: grid;
  place-items: center;
}

.container {
  padding: 1rem;
  border: 6px solid var(--second-clr);
  border-radius: 1rem;
  box-shadow: 0px 12px 12px rgba(156, 102, 125, 0.5);
  background-color: white;
  height: 80vh;
  max-width: 80vh;
  width: 90%;

  display: flex;
  flex-direction: column;
}

.header__title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--active-clr);
}

@media (min-width: 780px) {
  .header__title {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: var(--active-clr);
  }
}

.header__form {
  display: grid;
  gap: 0.5rem;
}

.header__button {
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: var(--first-clr);
  color: white;
  transition: 200ms;
}
.header__button:hover {
  background-color: #7f5366;
}
.header__button:active {
  background-color: #5f3e4c;
  scale: 1.01;
}

.separator {
  border: 1px solid var(--active-clr);
  box-shadow: 0 4px 10px rgba(59, 82, 116, 0.5);
  margin-block: 1rem;
  margin-inline: auto;
  width: 80%;
}

.products-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  height: 100%;

  overflow-y: scroll;

  border-end-end-radius: 0.7rem;
  border-end-start-radius: 0.7rem;
  border-left: 2px solid var(--second-clr);
  border-right: 2px solid var(--second-clr);
  border-bottom: 2px solid var(--second-clr);
}

.product {
  position: relative;

  border-left: 2px solid var(--second-clr);
  padding-left: 0.5rem;
  padding: 0.5rem;
  transition: 200ms;
}
.product:hover {
  background-color: #e3e3d4;
}

.product__footer {
  margin-top: 0.2rem;
  color: rgb(66, 66, 66);
  font-size: 0.8rem;
}

.product__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.product__name {
  width: 100%;
  margin-left: -0.5rem;
  font-size: 1.1rem;
  color: var(--text-clr);
}

.product__buttons {
  display: flex;
  gap: 0.8rem;
}

.product__button {
  background: none;
  color: var(--active-clr);
  transition: 200ms;
}
.product__button:hover {
  color: #6b95d4;
}
.product__button:active {
  color: #82b4ff;
  scale: 1.2;
}

.product__button * {
  pointer-events: none;
}

[data-input='product-name'] {
  display: none;
}

.message-list {
  height: 100%;
  color: var(--active-clr);
  font-weight: bold;

  display: grid;
  place-items: center;
}

.products-list li ~ .message-list {
  display: none;
}

.product:has(input:checked) {
  background-color: #33466475;
}
.product:has(input:checked) .product__button:nth-child(1) {
  pointer-events: none;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--second-clr);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--first-clr);
  border-radius: 20px;
}

.notifications {
  position: fixed;
  bottom: -1px;
  width: 100%;
}

@media (min-width: 780px) {
  .notifications {
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: max-content;
  }
}

.toast {
  position: relative;
  padding: 1em;
  border-top: 1px solid var(--third-clr);
  background-color: var(--active-clr);
  box-shadow: 0 -12px 12px rgba(156, 102, 125, 0.5);

  display: flex;
  align-items: center;
  gap: 2rem;

  animation: showMobile 300ms ease 1 forwards,
    hiddenMobile 300ms ease 5s 1 forwards;

  overflow: hidden;
}

@media (min-width: 780px) {
  .toast {
    border: 1px solid var(--third-clr);
    border-radius: 0.5rem;
    box-shadow: 0 12px 12px rgba(156, 102, 125, 0.5);

    animation: showDesktop 300ms ease 1 forwards,
      hiddenDesktop 300ms ease 5s 1 forwards;
  }
}

@keyframes showMobile {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes hiddenMobile {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(150%);
  }
}

@keyframes showDesktop {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10%);
  }
}

@keyframes hiddenDesktop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(150%);
  }
}

.toast__content {
  color: white;
}

.toast__title {
  font-weight: bold;
}

.toast::before {
  position: absolute;
  bottom: 0;
  left: 0;

  content: '';
  background-color: var(--third-clr);
  height: 5px;
  width: 100%;

  animation: timeOut 5s ease 1 forwards;
  transform-origin: left;
}

@keyframes timeOut {
  0% {
    scale: 1 1;
  }
  100% {
    scale: 0 1;
  }
}
